* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url(../Images/Mono-images/console.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ff8b68;
    margin-top: 0;
    padding-top: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #1a2456;
    color: #ff8b68;
    margin-bottom: 8em;
}

.header-left p {
    font-size: clamp(1.2rem, 3.5vw, 2rem);
    margin-left: .25em;
}

.header-left i {
    font-size: clamp(.75rem, 3.5vw, 1.5rem);
    margin-left: .25em;
}

.header-left {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    font-size: clamp(.5rem, 1.25vw, 3rem);
    color: #ff8b68;
    text-transform: uppercase;
    margin: 0 1em;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    width: 95%;
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8em;
}

.hero h1 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.hero p {
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    font-size: clamp(1.15rem, 1vw, 3rem);
}

.products {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    background-color: #f0efed;
}

.product {
    width: clamp(25em, 48%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    position: relative;
    cursor: pointer;
}

.product img {
    display: inline-block;
    aspect-ratio: 1/1;
}


.item {
    margin: .25em 0;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    text-transform: uppercase;
    font-weight: bold;
    padding: .4em 0;
}

.item-description {
    margin: .25em 0;
}

.pre-order-btn, 
.shop-btn {
    text-transform: uppercase;
    padding: .4rem .7rem;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .1rem;
}

.pre-order-btn {
    background-color: #ff8b68;
    position: absolute;
    top: 20px;
    right: 0;
}

.shop-btn { 
    background-color: #1a2456;
    color: white;
    border-radius: 20px;
    display: none;
    
}





footer {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    display: flex;
    justify-content: space-between;
    background-color: #1a2456;
    color: #ff8b68;
    
}

footer a {
    color: #ff8b68;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-col {
    width: 50%;
    margin: .5em 0;
    display: flex;
    flex-direction: column;
}

.footer-col a {
    margin: .25em 0;
}

.footer-col h5 {
    margin-bottom: .25em;
    margin-top: .5em;
    text-transform: uppercase;
}

.footer-col p {
    margin: .25em 0;
    margin-top: .5em;
}

.footer-col form {
    margin: .25em 0;

}

.footer-col input {
    width: 55%;
    height: 2em;
    background-color: #1a2456;
    border: .01em solid #ff8b68;
    padding-left: .25em;
    color: #ff8b68;
}

.footer-col button {
    width: 35%;
    margin-left: 1em;
    border-radius: 1em;
    height: 2em;
    background-color: #ff8b68;
    color: #1a2456;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;
    border: none;
}

.footer-col i {
    margin: .5em 0;
    border-radius: 50%;
    
}

.fa-brands {
    font-size: 1.5em;
}

.fa-regular {
    font-size: .75em;
}

@media (max-width: 700px) {
    footer {
        flex-direction: column-reverse;
    }
}