* {
    margin: 0px;
    background-color: gray;
    color: rgb(219, 209, 209);
    
}














.fa-brands {
    margin: 5px;
    font-size: 25px;
    background-color: inherit;
}

.fa-solid {
    margin: 5px;
    font-size: 25px;
    background-color: inherit;
}




header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 49, 49);
    margin: 7px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    padding-right: 5%;
}

.header-title {
    font-size: 25px;
    background-color: inherit;
    margin: 10px 0px;
    color: rgb(219, 209, 209);
}

.list {
    display: flex;
    background-color: inherit;
    margin: 10px 0px;
}

.list-item {
    margin: 5px 12px;
    background-color: inherit;
}

.header-links {
    background-color: inherit;
    border: 1px transparent solid;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-left {
    background-color: inherit;
}

.footer-left-text {
    background-color: inherit;
    margin: 10px;
}

.footer-middle {
    background-color: inherit;
    padding-top: 15px;
}

.footer-icons {
    background-color: inherit;
    
}

.footer-right {
    background-color: inherit;
    padding-top: 25px;
}

.header-links:hover {
    border: 1px rgb(219, 209, 209) solid;
    font-style: italic;
    font-weight: bold;
}