* {
    margin: 0px;
    background-color: gray;
    color: rgb(219, 209, 209);
    box-sizing: border-box;
}

main p {
    font-weight: bold;
    font-size: 1.2rem;
}

.fa-brands {
    margin: 5px;
    font-size: 25px;
    background-color: inherit;
}

.fa-solid {
    margin: 5px;
    font-size: 25px;
    background-color: inherit;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 49, 49);
    margin: 7px 0px;
    padding-left: 5%;
    padding-right: 5%;
}


.header-title {
    font-size: 25px;
    background-color: inherit;
    margin: 10px 0px;
}

.list {
    display: flex;
    background-color: inherit;
    margin: 10px 0px;
}

.list-item {
    margin: 5px 12px;
    background-color: inherit;
}

.header-links {
    background-color: inherit;
    border: 1px transparent solid;
}






section {
    font-family: 'Work Sans', sans-serif;
    background-color: #f7daeb;
    height: 51em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 100%;
    background-color: #f7daeb;
}

.hero-image img {
    width: 100%;
    
}

.hover-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18em;
    border-radius: .5em;
    padding: 0 1.5em;
    background-color: #fff5f5;
}

.header-part {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1em 0;
    background-color: inherit;
}

.header-part h1 {
    margin-left: 1em;
    background-color: inherit;
    color: #221524;
}

.header-part img {
    background-color: inherit;
}

.header-group {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

.header-group h2 {
    background-color: inherit;
    color: #221524;
    font-size: 1.25rem;
    width: 53vw;
}

.header-group img {
    background-color: inherit;
}

.group {
    background-color: inherit;
    margin-bottom: 3em;
}

.text-part {
    background-color: inherit;
}

.text-part p {
    background-color: inherit;
    color: #7a697d;
    display: none;
    margin-top: 1.5em;
    line-height: 1.5em;
    width: 62vw;
}

.header-group .image-two {
    display: none;
}















input {
    display: block;
    border: 1px black solid;
}

select {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 7vw;
}

.job-app {
    padding: 1em 0;
}

.full-name-sect {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
    padding-bottom: 2em;
}

.full-name-divider {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.full-name-divider div {
    margin-right: 1em;
}


 
.current-address-sect {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.current-address-inner {
    width: 100%;
    padding-bottom: .5em;
}

.top-sect {
    width: 100%;
}

.top-sect div {
    padding-bottom: .5em;
}

.mid-section-address {
    display: flex;

}

.mid-section-address div {
    padding-right: 1em;
    padding-bottom: .5em;
}

.bottom-section-address {
    display: flex;
}

.bottom-section-address div {
    padding-right: 1em;
}

.country-select {
    width: 205px;
    border: 1px black solid;
}

.email-address-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-bottom: 1em;
}

.phone-number-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-bottom: 1em;
}

.phone-number-sect{
    display: flex;
}

.phone-num-divider {
    display: flex;
}

::placeholder {
    color: rgb(219, 209, 209);
}

.dash-line {
    padding: 0 .5em;
}

.applying-position-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 11.5em;
    padding-bottom: 1em;
}

.applying-position-sect select {
    border: 1px black solid;
    width: 250px;
}

.strt-date-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 11.5em;
    padding-bottom: 1em;
}

.strt-date-sect input {
    width: 250px;
}

.upload-resume-sect {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-right: 11.5em;
}

.upload-resume-sect input {
    border: none;
}

.take-photo-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 8.5em;
    padding-bottom: 1em;
}

.take-photo-sect button {
    width: 300px;
    height: 2.5em;
    border: 1px black solid;
    border-radius: .5em;
}

.agree-terms-sect{
    display: flex;
}

.agree-terms-sect input {
    margin-right: .5em;
}

.agree-terms-sect {
    padding-bottom: 2em;
}

.submit-sect{
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit-sect input {
    height: 2em;
    width: 5em;
    border-radius: .5em;
}











footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 49, 49);
    margin: 20% 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-left {
    background-color: inherit;
}

.footer-left-text {
    background-color: inherit;
    margin: 10px;
}

.footer-middle {
    background-color: inherit;
    padding-top: 15px;
}

.footer-icons {
    background-color: inherit;
    
}

.footer-right {
    background-color: inherit;
    padding-top: 25px;
}

.header-links:hover {
    border: 1px rgb(219, 209, 209) solid;
    font-style: italic;
    font-weight: bold;
}