* {
    margin: 0px;
    
    color: rgb(219, 209, 209);
    box-sizing: border-box;
}

main p {
    font-weight: bold;
    font-size: 1.2rem;
}

.fa-brands {
    margin: 5px;
    font-size: 25px;
    background-color: inherit;
}

.fa-solid {
    margin: 5px;
    font-size: 25px;
    background-color: inherit;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 49, 49);
    margin: 7px 0px;
    padding-left: 5%;
    padding-right: 5%;
}


.header-title {
    font-size: 25px;
    background-color: inherit;
    margin: 10px 0px;
}

.list {
    display: flex;
    background-color: inherit;
    margin: 10px 0px;
}

.hamburger-menu {
    display: none;
    background-color: inherit;
}

.hamburger-menu-open {
    display: none;
    background-color: inherit;
}

.link-area {
    display: none;
}

@media (max-width: 1020px) {
    .list {
        display: none;
    }
    header {
        align-items: center;
    }
    .hamburger-menu {
        display: block;
    }
    .hamburger-menu-open {
        display: none;
        background-color: inherit;
    }
    .link-area {
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        font-size: 2em;
        display: block;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        display: none;
        border: 1px solid rgb(47, 49, 49);
        background-color: gray;
    }
    .link-area-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        
    }
}







.list-item {
    margin: 5px 12px;
    background-color: inherit;
}

.header-links {
    background-color: inherit;
    border: 1px transparent solid;
}









.section2 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect2-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 7em;
}

.sect2-header {
    text-align: center;
}

.sect2-header h3 {
    color: #4c4e61;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.sect2-header h2 {
    color: #4c4e61;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

.sect2-header p {
    color: #a3a5ae;
    font-family: 'Poppins', sans-serif;
    width: 670px;
    font-size: 1.25rem;
    padding: 1em 0;
    padding-bottom: 3em;
}


.sect2-container h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-bottom: .25em;
    color: #4c4e61;
}

.sect2-container p {
    color: #a3a5ae;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
}

.sect2-img-cont{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.sect2-container {
    width: 375px;
    padding: 1em;
    margin-bottom: 1.25em;
    border-top: 5px solid;
    box-shadow: 7px 7px 10px;
    margin-bottom: 2.5em;
    border-radius: 1em;   
}

.first-cont {
    border-color: #45d3d3;
}

.second-cont {
    border-color: #ea5353;
}

.third-cont {
    border-color: #fcaf4a;
}

.forth-cont {
    border-color:  #549ef2;
}

.sect2-group-containers {
    margin: 0 2em;
}


















.section1 {
    font-family: 'Work Sans', sans-serif;
    background-color: #f7daeb;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-image {
    width: 100%;
    background-color: #f7daeb;
    height: auto;
    padding-bottom: 25em;
}

.hero-image img {
    width: 100%;
    max-height: 20em;
}

.hover-div {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80em;
    border-radius: .5em;
    padding: 0 1.5em;
    background-color: #fff5f5;
}

.header-part {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1em 0;
    background-color: inherit;
}

.header-part h1 {
    margin-left: 1em;
    background-color: inherit;
    color: #221524;
}

.header-part img {
    background-color: inherit;
}

.header-group {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

.header-group h2 {
    background-color: inherit;
    color: #221524;
    font-size: 1.25rem;
    width: 53vw;
}

.header-group img {
    background-color: inherit;
}

.group {
    background-color: inherit;
    margin-bottom: 3em;
}

.text-part {
    background-color: inherit;
}

.text-part p {
    background-color: inherit;
    color: #7a697d;
    display: none;
    margin-top: 1.5em;
    line-height: 1.5em;
    width: 310px;
}

.header-group .image-two {
    display: none;
}







@media (max-width: 1210px) {
    .sect2-header p {
        width: 390px;
    }
    .sect2-div {
        flex-direction: column;
    }
    .hover-div {
        top: 112em;
    }
}







input {
    display: block;
    border: 1px black solid;
    background-color: gray;
}

select {
    display: block;
    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 7vw;
    background-color: gray;
    padding-bottom: 5em;
    padding-top: 2em;
}

.job-app {
    padding: 1em 0;
    background-color: gray;
}

.full-name-sect {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
    padding-bottom: 2em;
    background-color: gray;
}

.full-name-divider {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    background-color: gray;
}

.full-name-divider div {
    margin-right: 1em;
    background-color: gray;
}



 
.current-address-sect {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    background-color: gray;
}

.current-address-inner {
    width: 100%;
    padding-bottom: .5em;
    background-color: gray;
}

.top-sect {
    width: 100%;
    background-color: gray;
}

.top-sect div {
    padding-bottom: .5em;
    background-color: gray;
}

.mid-section-address {
    display: flex;
    background-color: gray;
}

.mid-section-address div {
    padding-right: 1em;
    padding-bottom: .5em;
    background-color: gray;
}

.bottom-section-address {
    display: flex;
    background-color: gray;
}

.bottom-section-address div {
    padding-right: 1em;
    background-color: gray;
}

.country-select {
    width: 205px;
    border: 1px black solid;
    background-color: gray;
}

.email-address-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: gray;
}

.phone-number-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: gray;
}

.phone-number-sect{
    display: flex;
    background-color: gray;
}

.phone-num-divider {
    display: flex;
    background-color: gray;
}

::placeholder {
    color: rgb(219, 209, 209);
    background-color: gray;
}

.dash-line {
    padding: 0 .5em;
    
}

.applying-position-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 11.5em;
    padding-bottom: 1em;
    
}

.applying-position-sect select {
    border: 1px black solid;
    width: 250px;
    
}

.strt-date-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 11.5em;
    padding-bottom: 1em;
}

.strt-date-sect input {
    width: 250px;
}

.upload-resume-sect {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-right: 11.5em;
}

.upload-resume-sect input {
    border: none;
}

.take-photo-sect {
    display: flex;
    justify-content: space-between;
    padding-right: 8.5em;
    padding-bottom: 1em;
}

.take-photo-sect button {
    width: 300px;
    height: 2.5em;
    border: 1px black solid;
    border-radius: .5em;
    background-color: gray;
}

.agree-terms-sect{
    display: flex;
}

.agree-terms-sect input {
    margin-right: .5em;
}

.agree-terms-sect {
    padding-bottom: 2em;
}

.submit-sect{
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit-sect input {
    height: 2em;
    width: 5em;
    border-radius: .5em;
}











footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 49, 49);
    
    padding-left: 5%;
    padding-right: 5%;
   
}

.footer-left {
    background-color: inherit;
    background-color: rgb(47, 49, 49);
}

.footer-left-text {
    background-color: inherit;
    margin: 10px;
    background-color: rgb(47, 49, 49);
}

.footer-middle {
    background-color: inherit;
    padding-top: 15px;
}

.footer-icons {
    background-color: inherit;
    
}

.footer-right {
    background-color: inherit;
    padding-top: 25px;
}

.header-links:hover {
    border: 1px rgb(219, 209, 209) solid;
    font-style: italic;
    font-weight: bold;
}